@font-face {
    font-family: metropolis;
    src: url("assets/fonts/metropolis/Metropolis-Regular.woff2") format("woff2"), local("Arial");
    font-weight: 400;
}

@font-face {
    font-family: metropolis;
    src: url("assets/fonts/metropolis/Metropolis-Medium.woff2") format("woff2"), local("Arial");
    font-weight: 500;
}

@font-face {
    font-family: metropolis;
    src: url("assets/fonts/metropolis/Metropolis-SemiBold.woff2") format("woff2"), local("Arial");
    font-weight: 600;
}


@font-face {
    font-family: metropolis;
    src: url("assets/fonts/metropolis/Metropolis-Bold.woff2") format("woff2"), local("Arial");
    font-weight: 700;
}


@font-face {
    font-family: metropolis;
    src: url("assets/fonts/metropolis/Metropolis-ExtraBold.woff2") format("woff2"), local("Arial");
    font-weight: 800;
}
